@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');

.card-container {
    display: flex;
    flex-direction: column;
    background-color: #e9dede;
    border: 20px solid rgb(164, 157, 157);
    border-radius: 5px 5px 5px 40px;
    box-shadow: 1px -1px 5px black;
    padding: 20px;    
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
  }
  
  .card-container:hover {
    transform: scale(1.05);
  }

  .card-container h2, p{
    font-family: 'Pixelify Sans', sans-serif;
    margin: 5px;
  }